<app-firefoxheader></app-firefoxheader>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h1">The browser is just the beginning</h1>
        </div>
        <div class="col">
            <img src="https://www.mozilla.org/media/img/firefox/home/master/hero.347bb6d83d7c.jpg">
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <img src="https://www.mozilla.org/media/protocol/img/logos/firefox/browser/logo-md.f0603b4c28b4.png">
            <p><a href="#">Browsers</a></p>
        </div>
        <div class="col">
            <img src="https://www.mozilla.org/media/protocol/img/logos/firefox/monitor/logo-md.00d2ad45480b.png">
            <p><a href="#">Monitor</a></p>
        </div>
        <div class="col">
            <img src="https://www.mozilla.org/media/protocol/img/logos/firefox/send/logo-md.5b88d5fa8771.png">
            <p><a href="#">Send</a></p>
        </div>
        <div class="col">
            <img src="https://www.mozilla.org/media/protocol/img/logos/firefox/lockwise/logo-md.b910dd96c5e1.png">
            <p><a href="#">Lockwise</a></p>
        </div>
        <div class="col">
            <img src="https://www.mozilla.org/media/img/logos/pocket/logo.b38718a07101.svg">
            <p><a href="#">Pocket</a></p>
        </div>
    </div>
</div>
<app-firefoxfooter></app-firefoxfooter>