<div class="container-fluid">
  <div class="section1">
    <div class="row container text-center">
      <div class="col">
        <img src="https://www.mozilla.org/media/protocol/img/logos/firefox/browser/logo-md.f0603b4c28b4.png">
      </div>
      <div class="col">
        <img src="https://www.mozilla.org/media/protocol/img/logos/firefox/monitor/logo-md.00d2ad45480b.png">
      </div>
      <div class="col">
        <img src="https://www.mozilla.org/media/protocol/img/logos/firefox/send/logo-md.5b88d5fa8771.png">
      </div>
      <div class="col">
        <img src="https://www.mozilla.org/media/protocol/img/logos/firefox/lockwise/logo-md.b910dd96c5e1.png">
      </div>
      <div class="col">
        <img src="https://www.mozilla.org/media/img/logos/pocket/logo.b38718a07101.svg">
      </div>
    </div>
    <div class="container text-center">
      <h2 class="h2 text-white">One login. All your devices. A family of products that respect your privacy.</h2>
      <button class="btn btn-primary my-3">Join Firefox</button>
      <p class="small text-white pb-3 m-0">Learn more about joining Firefox</p>
    </div>
  </div>
  <div class="section2">
    <div class="container">
      <div class="row text-white">
        <div class="col">
          <p class="font-weight-bold">
            Firefox
          </p>
          <ul class="list-unstyled">
            <li>
              Privacy
            </li>
            <li>
              Press
            </li>
            <li>
              Brand Standards
            </li>
          </ul>
        </div>
        <div class="col">
          <p class="font-weight-bold">
            Browsers
          </p>
          <ul class="list-unstyled">
            <li>
              Desktop
            </li>
            <li>
              Mobile
            </li>
            <li>
              Reality
            </li>
            <li>
              Enterprise
            </li>
          </ul>
        </div>
        <div class="col">
          <p class="font-weight-bold">
            Products
          </p>
          <ul class="list-unstyled">
            <li>
              Lockwise
            </li>
            <li>
              Monitor
            </li>
            <li>
              Send
            </li>
            <li>
              Browsers
            </li>
            <li>
              Pocket
            </li>
          </ul>
        </div>
        <div class="col">
          <p class="font-weight-bold">
            Join
          </p>
          <ul class="list-unstyled">
            <li>
              Sign Up
            </li>
            <li>
              Sign In
            </li>
            <li>
              Benefits
            </li>
          </ul>
        </div>
        <div class="col">
          <p class="font-weight-bold">
            Developers
          </p>
          <ul class="list-unstyled">
            <li>
              Developer Edition
            </li>
            <li>
              Beta
            </li>
            <li>
              Beta for Android
            </li>
            <li>
              Nightly
            </li>
            <li>
              Nightly for Android
            </li>
          </ul>
        </div>
        <div class="col">
          <p>
            Language
          </p>
          <ul class="list-unstyled">
            <li>
              <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Languages
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">English</a>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col">
                  <img src="">
                </div>
                <div class="col">
                  <img src="">
                </div>
                <div class="col">
                  <img src="">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="https://www.mozilla.org/media/protocol/img/logos/mozilla/white.612a25fa976b.svg">
        </div>
        <div class="col text-white">
            <p class="small">Visit Mozilla Corporation’s not-for-profit parent, the Mozilla Foundation. </p>
            <p class="small">Portions of this content are ©1998–2020 by individual mozilla.org contributors. Content available under a Creative Commons license. </p>
        </div>
      </div>
    </div>
  </div>
</div>
